.clients {
  margin-bottom: 100px;
}
.clients__wrap {
  position: relative;
}
.clients__slider {
  overflow: hidden;
}
.clients__slide {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    display: block;
    flex: 0 0 auto;
  }
}