.modal {
  width: 446px;
  padding: 50px;
  background-color: #FFFFFF;
  border: 2px solid #FFB800;
  border-radius: 10px;
  
  .title-3 {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  &--ok {
    padding-top: 180px;
    background-image: url(../img/icons/tick-round.svg);
    background-repeat: no-repeat;
    background-size: 90px 90px;
    background-position: top 60px center;
  }
}
.modal__subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.modal__message,
.modal__input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #CACACA;
  border-radius: 10px;
  
  &::placeholder {
    color: #787878;
    opacity: 1;
  }
  &:focus,
  &:hover {
    border-color: #FFB800;
  }
}
.modal__input {
  height: 50px;
  padding: 0 20px;
}
.modal__message {
  height: 114px;
  resize: none;
  padding: 15px 20px;
}
.modal__comment {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}
.modal__btn {
  width: 187px;
  margin-left: auto;
  margin-right: auto;
}
.modal__checkbox {
  display: none;
}
.checkbox__label {
  display: block;
  margin-bottom: 40px;
  position: relative;
  padding-left: 34px;
  font-size: 12px;
  line-height: 16px;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #CACACA;
    border-radius: 5px;
  }
  
  a {
    color: @blue;
    border-bottom: 1px dashed rgba(255,255,255,0);
    
    &:hover,
    &:active {
      border-color: @blue;
    }
  }
  &:hover::before {
    border-color: #FFB800;
  }
}
.modal__checkbox:checked + .checkbox__label::before {
  border-color: #FFB800;
  background-image: url(../img/icons/tick.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.modal__field--error {
  position: relative;
  
  .modal__input:hover,
  .modal__input:focus,
  .modal__input {
    border: 1px solid #E25D5D;
  }
  &::before {
    content: "Поле не заполнено";
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    padding-left: 26px;
    padding-right: 20px;
    font-size: 12px;
    line-height: 50px;
    color: #E25D5D;
    background-image: url(../img/icons/error.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;
  }
}
.fancybox-close-small {
  svg {
    opacity: 1;
    stroke: @blue;
  }
  
  &:hover,
  &:active {
    svg {
      stroke: #FFB800;
    }
  }
}
.modal__ok {
  margin-left: auto;
  margin-right: auto;
  width: 106px;
  margin-top: 40px;
}